# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
POSTGRES_DB=cineva
POSTGRES_PORT=5432

# API
JWT_SECRET=change-me
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123456
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
ENVIRONMENT=production
CORS_ORIGINS=http://localhost:3000
UPLOAD_DIR=uploads
API_PORT=8000
API_DOCKER_IMAGE=cineva-api:latest

# Web
NUXT_API_PROXY=http://api:8000
NUXT_PUBLIC_WS_BASE=ws://localhost:8000
NUXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
NUXT_PUBLIC_SITE_URL=http://localhost:3000
WEB_DOCKER_IMAGE=cineva-web:latest
