# Root
.env
.env.*
!.env.example
node_modules/
.nuxt/
.output/
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
backend/.venv/
backend/uploads/
backend/cineva_api.egg-info/
backend/**/__pycache__/
backend/**/*.pyc
.codegraph/
.DS_Store
*.log

# Flutter
app/.dart_tool/
app/.flutter-plugins-dependencies
app/.packages
app/build/
app/.idea/
app/**/*.iml
app/android/.gradle/
app/android/local.properties
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.podspec
app/ios/Flutter/Generated.xcconfig
app/ios/Flutter/ephemeral/
