# Root
.env
.env.*
!.env.example
node_modules/
.nuxt/
.output/
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
backend/.venv/
backend/uploads/
backend/cineva_api.egg-info/
backend/**/__pycache__/
backend/**/*.pyc
.codegraph/
.DS_Store
*.log

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.idea/
mobile/**/*.iml
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/ephemeral/
